body {
    background: #000;
}

.pixel {
    background: #fff;
}

.pixel:hover {
    background: #f0f;
  }

#clicked {
    background: #f0f;
  }

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }