body {
    background: #000;
}

.pixel {
    background: #fff;
}

.pixel:hover {
    background: #6437b9;
  }

#clicked {
    background: #6437b9;
  }

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  #newPad {
    border: 0px;
    border-radius: 10px;
    background: #6437b9;
    padding: 10px;
  }